flow_esp/local_flows.json
[
    {
        "id": "47b1b651.b54ea8",
        "type": "tab",
        "label": "CONTROLE",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65bf4a98fc948200",
        "type": "tab",
        "label": "BROKER_SETUP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68a7816a14c2e287",
        "type": "group",
        "z": "47b1b651.b54ea8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bc68c15e4621b46b",
            "37e23d8ac95d4736",
            "1eaa7824cc4fc072",
            "eda6c21bec7c93cd",
            "3dcee68ed4f269f0",
            "09459eab808f34e6"
        ],
        "x": 74,
        "y": 539,
        "w": 312,
        "h": 402
    },
    {
        "id": "db30ee6124280675",
        "type": "group",
        "z": "47b1b651.b54ea8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dddb61cdb090effa",
            "6289fa51796ef21e",
            "b6a823971b20da80",
            "9d36369760bce48b",
            "c66b6310fb0e5328",
            "f95431ebd8c54554",
            "fc0bb3628f726ed5",
            "32ccd6d652bde85a",
            "bc2f6acc3db25ffe",
            "d6e61a77759c79f6"
        ],
        "x": 434,
        "y": 539,
        "w": 412,
        "h": 302
    },
    {
        "id": "2f9983af.f7a25c",
        "type": "mqtt-broker",
        "name": "ALARME_TERMOMETRO",
        "broker": "localhost",
        "port": "1888",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "449beac21c11dba8",
        "type": "mqtt-broker",
        "name": "thg003",
        "broker": "localhost",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "188f189923211532",
        "type": "mqtt-broker",
        "name": "thg006",
        "broker": "localhost",
        "port": "1886",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "de5d0b8a977a365a",
        "type": "mqtt-broker",
        "name": "ALRME_LAB",
        "broker": "localhost",
        "port": "8888",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fae96f0358fb1a77",
        "type": "mqtt-broker",
        "name": "thg001",
        "broker": "localhost",
        "port": "1881",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d974323ce8528dc1",
        "type": "mqtt-broker",
        "name": "thg004",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0458c78b2f94094f",
        "type": "mqtt-broker",
        "name": "thg002",
        "broker": "localhost",
        "port": "1882",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2eafb66424229c06",
        "type": "telegram bot",
        "botname": "my_broker_lmm_test_alert_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "none",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "873e8cfa8956cb4a",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "name": "Atualizar Thingsboard",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 7-17 * * 1,2,3,4,5",
        "once": true,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "send_data_tago",
        "payloadType": "str",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "fd074603729071eb",
                "0dbeafc20a0b21a2",
                "a20067e273108a46",
                "f562c0e1abeb53e6",
                "9f481a5892b6d487",
                "87c1bde1b2861eda"
            ]
        ]
    },
    {
        "id": "fd074603729071eb",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "name": "gravar dados no ThingsBoard",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2f9983af.f7a25c",
        "x": 310,
        "y": 200,
        "wires": []
    },
    {
        "id": "bc68c15e4621b46b",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "68a7816a14c2e287",
        "name": "imprimirDadosNoDashboard",
        "topic": "datanode",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 240,
        "y": 660,
        "wires": []
    },
    {
        "id": "37e23d8ac95d4736",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "68a7816a14c2e287",
        "name": "Atualizar Dashboard",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/2 7-17 * * 1,2,3,4,5",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "send_data_node",
        "payloadType": "str",
        "x": 220,
        "y": 580,
        "wires": [
            [
                "bc68c15e4621b46b",
                "1eaa7824cc4fc072",
                "eda6c21bec7c93cd",
                "3dcee68ed4f269f0",
                "09459eab808f34e6"
            ]
        ]
    },
    {
        "id": "1eaa7824cc4fc072",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "68a7816a14c2e287",
        "name": "imprimirDadosNoDashboard",
        "topic": "datanode",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 240,
        "y": 720,
        "wires": []
    },
    {
        "id": "eda6c21bec7c93cd",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "68a7816a14c2e287",
        "name": "imprimirDadosNoDashboard",
        "topic": "datanode",
        "qos": "0",
        "retain": "true",
        "broker": "2f9983af.f7a25c",
        "x": 240,
        "y": 780,
        "wires": []
    },
    {
        "id": "3dcee68ed4f269f0",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "68a7816a14c2e287",
        "name": "imprimirDadosNoDashboard",
        "topic": "datanode",
        "qos": "0",
        "retain": "true",
        "broker": "",
        "x": 240,
        "y": 840,
        "wires": []
    },
    {
        "id": "09459eab808f34e6",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "68a7816a14c2e287",
        "name": "imprimirDadosNoDashboard",
        "topic": "datanode",
        "qos": "0",
        "retain": "true",
        "broker": "",
        "x": 240,
        "y": 900,
        "wires": []
    },
    {
        "id": "dddb61cdb090effa",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "db30ee6124280675",
        "name": "10",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "{\"valor\":10}",
        "payloadType": "json",
        "x": 530,
        "y": 580,
        "wires": [
            [
                "6289fa51796ef21e"
            ]
        ]
    },
    {
        "id": "6289fa51796ef21e",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "db30ee6124280675",
        "name": "001",
        "topic": "v1/devices/me/telemetry",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 770,
        "y": 660,
        "wires": []
    },
    {
        "id": "b6a823971b20da80",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "db30ee6124280675",
        "name": "20",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "{\"valor\":20}",
        "payloadType": "json",
        "x": 530,
        "y": 620,
        "wires": [
            [
                "6289fa51796ef21e"
            ]
        ]
    },
    {
        "id": "9d36369760bce48b",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "db30ee6124280675",
        "name": "50",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "{\"valor\":50}",
        "payloadType": "json",
        "x": 530,
        "y": 660,
        "wires": [
            [
                "6289fa51796ef21e"
            ]
        ]
    },
    {
        "id": "c66b6310fb0e5328",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "db30ee6124280675",
        "name": "25",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "{\"valor\":25}",
        "payloadType": "json",
        "x": 530,
        "y": 760,
        "wires": [
            [
                "f95431ebd8c54554"
            ]
        ]
    },
    {
        "id": "f95431ebd8c54554",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "db30ee6124280675",
        "name": "003",
        "topic": "v1/devices/me/telemetry",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "449beac21c11dba8",
        "x": 770,
        "y": 740,
        "wires": []
    },
    {
        "id": "76ced1d5d71da017",
        "type": "mqtt in",
        "z": "47b1b651.b54ea8",
        "name": "ALARME_TERMOMETRO",
        "topic": "alarme_topic",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "2f9983af.f7a25c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "72c108dad8ce8472"
            ]
        ]
    },
    {
        "id": "1c0171d5c8c79b4c",
        "type": "debug",
        "z": "47b1b651.b54ea8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "72c108dad8ce8472",
        "type": "function",
        "z": "47b1b651.b54ea8",
        "name": "filtro_de_payload",
        "func": "\n\nvar payload = {    \n    \"alerta\": msg.payload.details,\n    \n};\n\nmsg.payload = payload;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "1c0171d5c8c79b4c",
                "9ae1898765f6db50"
            ]
        ]
    },
    {
        "id": "fc0bb3628f726ed5",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "db30ee6124280675",
        "name": "15",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "{\"valor\":15}",
        "payloadType": "json",
        "x": 530,
        "y": 800,
        "wires": [
            [
                "f95431ebd8c54554"
            ]
        ]
    },
    {
        "id": "9ae1898765f6db50",
        "type": "function",
        "z": "47b1b651.b54ea8",
        "name": "telegram_format",
        "func": "let texto = msg.payload.alerta.toString()\nmsg.payload = {};\nmsg.payload.chatId = 1582914975\nmsg.payload.type= 'message'\nmsg.payload.content = texto\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 420,
        "wires": [
            [
                "e772f0bae3d3c32a"
            ]
        ]
    },
    {
        "id": "32ccd6d652bde85a",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "db30ee6124280675",
        "name": "50",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "{\"valor\":50}",
        "payloadType": "json",
        "x": 530,
        "y": 720,
        "wires": [
            [
                "f95431ebd8c54554"
            ]
        ]
    },
    {
        "id": "bc2f6acc3db25ffe",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "db30ee6124280675",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "{\"valor\":1}",
        "payloadType": "json",
        "x": 690,
        "y": 600,
        "wires": [
            [
                "6289fa51796ef21e"
            ]
        ]
    },
    {
        "id": "d6e61a77759c79f6",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "d": true,
        "g": "db30ee6124280675",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "{\"valor\":1}",
        "payloadType": "json",
        "x": 690,
        "y": 800,
        "wires": [
            [
                "f95431ebd8c54554"
            ]
        ]
    },
    {
        "id": "0dbeafc20a0b21a2",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "name": "thg006",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "188f189923211532",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "a1c828f4bc0a3078",
        "type": "mqtt in",
        "z": "47b1b651.b54ea8",
        "name": "ALARME_TERMOHIGROMETROS",
        "topic": "alarme_lab",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "de5d0b8a977a365a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "72c108dad8ce8472"
            ]
        ]
    },
    {
        "id": "a20067e273108a46",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "name": "thg001",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fae96f0358fb1a77",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "f562c0e1abeb53e6",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "name": "thg004",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d974323ce8528dc1",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "9f481a5892b6d487",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "name": "thg003",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "449beac21c11dba8",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "87c1bde1b2861eda",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "name": "thg002",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0458c78b2f94094f",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "e772f0bae3d3c32a",
        "type": "telegram sender",
        "z": "47b1b651.b54ea8",
        "name": "bot alert test",
        "bot": "2eafb66424229c06",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c9745d3902bdf62b",
        "type": "aedes broker",
        "z": "65bf4a98fc948200",
        "name": "004",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 510,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ab31aba0314ce953",
        "type": "aedes broker",
        "z": "65bf4a98fc948200",
        "name": "001",
        "mqtt_port": "1881",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 510,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2df359777a0aaf36",
        "type": "aedes broker",
        "z": "65bf4a98fc948200",
        "name": "006",
        "mqtt_port": "1886",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 510,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "044cc550fd1f58f4",
        "type": "aedes broker",
        "z": "65bf4a98fc948200",
        "name": "ALARME_TERMOMETRO",
        "mqtt_port": "1888",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 250,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c8749f2ae97ee766",
        "type": "aedes broker",
        "z": "65bf4a98fc948200",
        "name": "ALARME_LAB",
        "mqtt_port": "8888",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 220,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "135f9ef01a013c70",
        "type": "aedes broker",
        "z": "65bf4a98fc948200",
        "name": "003",
        "mqtt_port": "8883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 510,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6aaf433358b30148",
        "type": "aedes broker",
        "z": "65bf4a98fc948200",
        "name": "002",
        "mqtt_port": "1882",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 510,
        "y": 100,
        "wires": [
            [],
            []
        ]
    }
]