flow_esp/local_flows.json
[{"id":"47b1b651.b54ea8","type":"tab","label":"CONTROLE","disabled":false,"info":""},{"id":"65bf4a98fc948200","type":"tab","label":"BROKER_SETUP","disabled":false,"info":"","env":[]},{"id":"db30ee6124280675","type":"group","z":"47b1b651.b54ea8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["dddb61cdb090effa","b6a823971b20da80","9d36369760bce48b","c66b6310fb0e5328","f95431ebd8c54554","fc0bb3628f726ed5","32ccd6d652bde85a","bc2f6acc3db25ffe","d6e61a77759c79f6"],"x":434,"y":779,"w":412,"h":302},{"id":"de5d0b8a977a365a","type":"mqtt-broker","name":"ALRME_LAB","broker":"localhost","port":"8888","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"fae96f0358fb1a77","type":"mqtt-broker","name":"sensores esp8266 em teste","broker":"localhost","port":"1881","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2eafb66424229c06","type":"telegram bot","botname":"my_broker_lmm_test_alert_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"none","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"8e168348514d165b","type":"mqtt-broker","name":"teste senha","broker":"localhost","port":"1882","clientid":"publisher_mqtt","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"873e8cfa8956cb4a","type":"inject","z":"47b1b651.b54ea8","name":"Atualizar Thingsboard","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0,1","topic":"","payload":"send_data_tago","payloadType":"str","x":160,"y":80,"wires":[["a20067e273108a46"]]},{"id":"1c0171d5c8c79b4c","type":"debug","z":"47b1b651.b54ea8","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":440,"wires":[]},{"id":"72c108dad8ce8472","type":"function","z":"47b1b651.b54ea8","name":"filtro_de_payload","func":"\n\nvar payload = {    \n    \"alerta\": msg.payload.details,\n    \n};\n\nmsg.payload = payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":440,"wires":[["1c0171d5c8c79b4c","9ae1898765f6db50"]]},{"id":"9ae1898765f6db50","type":"function","z":"47b1b651.b54ea8","name":"telegram_format","func":"let texto = msg.payload.alerta.toString()\nmsg.payload = {};\nmsg.payload.chatId = 1582914975\nmsg.payload.type= 'message'\nmsg.payload.content = texto\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":540,"wires":[["e772f0bae3d3c32a"]]},{"id":"a1c828f4bc0a3078","type":"mqtt in","z":"47b1b651.b54ea8","name":"ALARME_TERMOHIGROMETROS","topic":"alarme_lab","qos":"1","datatype":"auto-detect","broker":"de5d0b8a977a365a","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":300,"wires":[["72c108dad8ce8472"]]},{"id":"a20067e273108a46","type":"mqtt out","z":"47b1b651.b54ea8","name":"publisher calibracao","topic":"datatago","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fae96f0358fb1a77","x":640,"y":80,"wires":[]},{"id":"e772f0bae3d3c32a","type":"telegram sender","z":"47b1b651.b54ea8","name":"bot alert test","bot":"2eafb66424229c06","haserroroutput":false,"outputs":1,"x":670,"y":540,"wires":[[]]},{"id":"dddb61cdb090effa","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"10","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":10}","payloadType":"json","x":530,"y":820,"wires":[[]]},{"id":"b6a823971b20da80","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"20","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":20}","payloadType":"json","x":530,"y":860,"wires":[[]]},{"id":"9d36369760bce48b","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"50","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":50}","payloadType":"json","x":530,"y":900,"wires":[[]]},{"id":"c66b6310fb0e5328","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"25","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":25}","payloadType":"json","x":530,"y":1000,"wires":[["f95431ebd8c54554"]]},{"id":"f95431ebd8c54554","type":"mqtt out","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"003","topic":"v1/devices/me/telemetry","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":770,"y":980,"wires":[]},{"id":"fc0bb3628f726ed5","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"15","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":15}","payloadType":"json","x":530,"y":1040,"wires":[["f95431ebd8c54554"]]},{"id":"32ccd6d652bde85a","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"50","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":50}","payloadType":"json","x":530,"y":960,"wires":[["f95431ebd8c54554"]]},{"id":"bc2f6acc3db25ffe","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":1}","payloadType":"json","x":690,"y":840,"wires":[[]]},{"id":"d6e61a77759c79f6","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":1}","payloadType":"json","x":690,"y":1040,"wires":[["f95431ebd8c54554"]]},{"id":"50a3b996cae54de7","type":"mqtt out","z":"47b1b651.b54ea8","name":"publisher esp8266","topic":"datatago","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8e168348514d165b","x":610,"y":160,"wires":[]},{"id":"32b718af283227f2","type":"inject","z":"47b1b651.b54ea8","name":"Atualizar Thingsboard","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"0 7-18 * * 1,2,3,4,5","once":true,"onceDelay":"0,1","topic":"","payload":"send_data_tago","payloadType":"str","x":170,"y":160,"wires":[["50a3b996cae54de7"]]},{"id":"ab31aba0314ce953","type":"aedes broker","z":"65bf4a98fc948200","name":"BROKER calibracao","mqtt_port":"1881","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":150,"y":440,"wires":[["5f2563321822870d"],[]]},{"id":"c8749f2ae97ee766","type":"aedes broker","z":"65bf4a98fc948200","name":"ALARME_LAB","mqtt_port":"8888","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":120,"y":60,"wires":[[],[]]},{"id":"84bd42750f79d998","type":"function","z":"65bf4a98fc948200","name":"filtro_de_payload","func":"\n\nvar payload = {    \n    \"alerta\": msg.payload,\n    \n};\n\nmsg.payload = payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["ef1d206c31fc5ca4"]]},{"id":"ef1d206c31fc5ca4","type":"function","z":"65bf4a98fc948200","name":"telegram_format","func":"let texto = msg.payload.alerta.toString()\nmsg.payload = {};\nmsg.payload.chatId = 1582914975\nmsg.payload.type= 'message'\nmsg.payload.content = texto\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":200,"wires":[["92ca09418b08c035"]]},{"id":"92ca09418b08c035","type":"telegram sender","z":"65bf4a98fc948200","d":true,"name":"bot alert test","bot":"2eafb66424229c06","haserroroutput":false,"outputs":1,"x":730,"y":300,"wires":[[]]},{"id":"b6dc233815da0f9b","type":"debug","z":"65bf4a98fc948200","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":440,"wires":[]},{"id":"42142e7a9d93a1d9","type":"switch","z":"65bf4a98fc948200","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":220,"wires":[[]]},{"id":"5f2563321822870d","type":"function","z":"65bf4a98fc948200","name":"status do dispositivo","func":"var t = msg.topic;\nvar disp = msg.payload.client.id;\n\nif (t =='clientDisconnect')\n{\n    return { payload: \"dispositivo \" + disp +\" desconectado\"};\n    \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":360,"wires":[["b6dc233815da0f9b","84bd42750f79d998"]]},{"id":"9d64e3c8d95cb9f3","type":"aedes broker","z":"65bf4a98fc948200","name":"BROKER senha","mqtt_port":"1882","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":300,"y":120,"wires":[["a2e2d713e3d1bced","5f2563321822870d"],[]]},{"id":"a2e2d713e3d1bced","type":"debug","z":"65bf4a98fc948200","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":80,"wires":[]}]